.container {
    padding-top: 2em;
}

.intro {
    font-size: 1.5em;
    margin-bottom: 1.5em;
}

.input-value {
    margin-top: 1em;
    font-size: 1.25em;
}

.highlight {
    color: #00d1b2;
    font-weight: bold;
}