<header>
  <div class="py-6 px-6 text-center bg-gradient-to-tr from-red-300 to-yellow-200 flex justify-center items-center">
    <h1 class="mb-6 text-5xl font-medium">
      {{ (collection$ | async)?.name }}
      <span
        class="inline-block whitespace-nowrap rounded-full bg-neutral-50 px-[0.65em] pt-[0.35em] pb-[0.25em] text-center align-baseline text-[0.5em] font-bold leading-none text-neutral-600">
        <span *ngIf="!showAuction()">On Sale</span>
        <span *ngIf="showAuction()">On Auction</span>
      </span>
    </h1>
  </div>
</header>
<router-outlet></router-outlet>

<!-- <otr-example></otr-example> -->